<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="ac.soton.eventb.atomicitydecomposition.design.layout.ERSDiagramLayoutProvider">
         <Priority
               name="High">
         </Priority>
      </layoutProvider>
   </extension>

</plugin>
